# Auto detect text files and perform LF normalization
*        text=auto

# Never perform LF normalization on these files
*.ico    binary
*.png    binary
*.zip    binary

# Language statistics
subprojects/* linguist-vendored
